<configuration>
    <appender name="meterServiceAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="meterFileAppender" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <file>
            meterLogs.log
        </file>
    </appender>

    <root level="INFO">
        <appender-ref ref="meterServiceAppender" />
        <appender-ref ref="meterFileAppender" />
    </root>
</configuration>